<div class="well">
    <form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <button class="btn btn-primary" type="submit">Envoyer <i class="icon-white icon-ok-sign"></i> </button>
    </form>
</div>


