{% extends "SrsEventBundle::layout.html.twig" %}

{% block title %}
	Ajout d'un event - {{ parent() }}
{% endblock %}

{% block srsevent_body %}

	<h2>Ajout d'un event</h2>

	{% include "SrsEventBundle:Form:formulaire.html.twig" %}

	<p>
		Attention : cet evenement sera ajouté directement
		sur la page d'accueil après validation du formulaire.
	</p>

{% endblock %}