{% extends "SrsEventBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}
        
{% block srsevent_body %}

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in event %}
            <tr>
                <td><a href="{{ path ('srs_event_show', {'id': entity.id}) }}">{{ entity.title }}</a></td>
                <td>{{ entity.body | truncate(150, true, '...') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
