
<ul class="nav nav-pills nav-stacked">
    <li><a href="{{ path('srs_event_index') }}">Liste des Events</a></li>
    <li><a href="{{ path('srs_event_add') }}">Ajout d'un Event</a></li>
</ul>

                                    